In [1]:
## Generera och visualisera försäljning

In [2]:
import pandas as pd
import numpy as np
from tqdm.notebook import  tqdm #Om du kör i vscode, använd inte .notebook

In [3]:
## Helper-funktioner

In [6]:
#Genererar datum
def generate_random_date(start_date, range_in_days):
    days_to_add = np.random.randint(range_in_days)
    random_date = np.datetime64(start_date) + days_to_add
    return random_date

generate_random_date("2015-01-01", 20)

numpy.datetime64('2015-01-13')

In [8]:
attributes = ['name', 'price', 'weight', 'brand', 'cost']

products = [
    ['ifån', 7900, 4.2, 'Apple', 7900 * 0.7],
    ['MacBrick', 15900, 3.2, 'Apple', 15900 * 0.7],
    ['Papple PC', 14500, 4.2, 'Apple', 14500 * 0.7],
    ['Japple Watch', 3900, 0.2, 'Apple', 3900 * 0.7],
    ['FiPad', 5500, 1.2, 'Apple', 5500 * 0.7],

    ['Hony HD Webcam', 1500, 3.2, 'Sony', 1500*0.8],
    ['Rony Sound Freak', 1200, 0.2, 'Sony', 1200*0.8],
    ['Cony SD Webcam', 500, 3.2, 'Sony', 500*0.8],
    ['Flony Bravia TV', 540, 5.2, 'Sony', 540*0.8],

    ['Tamsung Crystal TV', 540, 5.2, 'Samsung', 540*0.8],
]

df_products = pd.DataFrame(products, columns=attributes)

                 name  price  weight    brand     cost
0                ifån   7900     4.2    Apple   5530.0
1            MacBrick  15900     3.2    Apple  11130.0
2           Papple PC  14500     4.2    Apple  10150.0
3        Japple Watch   3900     0.2    Apple   2730.0
4               FiPad   5500     1.2    Apple   3850.0
5      Hony HD Webcam   1500     3.2     Sony   1200.0
6    Rony Sound Freak   1200     0.2     Sony    960.0
7      Cony SD Webcam    500     3.2     Sony    400.0
8     Flony Bravia TV    540     5.2     Sony    432.0
9  Tamsung Crystal TV    540     5.2  Samsung    432.0

In [23]:
linear_values = np.arange(len(products))

exp_values = np.exp(linear_values / 2)

probabilities = exp_values / exp_values.sum()

def random_product():
    index =  np.random.choice(len(products), p = probabilities)
    return products[index]

In [32]:
## Generate Random Sales
def generate_sales_no_batch(sales_to_generate):
    
    sales = []
    dates = []
    
    #Generate Sales
    for i in tqdm(range(sales_to_generate), desc="Generating Sales"): #Vi delar upp det istället!
        product = random_product()
        date = generate_random_date("2015-01-01", 365*5)
        sales.append(product)
        dates.append(date)

    df_sales = pd.DataFrame(sales, columns=attributes)
    df_sales['date'] = dates
    
    return df_sales

generate_sales_no_batch(10_000_000) #Understreck räknas inte i koden, gör det lättare att se för människor

In [31]:
def generate_sales_batched(sales_to_generate, batch_size=1000):
    
    sales = []
    dates = []
    
    batch_size = 1000
    outer_range = int (sales_to_generate / 1000)
    
    #Generate Sales
    #for i in tqdm(range(sales_to_generate), desc="Generating Sales"): #Vi delar upp det istället!
    for i in tqdm(range(outer_range), desc="Generating Sales"):     #tqdm gör att det går att se progress, coolt!
        for j in range(batch_size):
            product = random_product()
            date = generate_random_date("2015-01-01", 365*5)
            sales.append(product)
            dates.append(date)

    df_sales = pd.DataFrame(sales, columns=attributes)
    df_sales['date'] = dates
    
    return df_sales

generate_sales(10_000_000) #Understreck räknas inte i koden, gör det lättare att se för människor

Generating Sales:   0%|          | 0/10000 [00:00<?, ?it/s]

                       name  price  weight    brand   cost       date
0            Cony SD Webcam    500     3.2     Sony  400.0 2016-10-23
1        Tamsung Crystal TV    540     5.2  Samsung  432.0 2019-04-06
2           Flony Bravia TV    540     5.2     Sony  432.0 2015-06-09
3        Tamsung Crystal TV    540     5.2  Samsung  432.0 2018-12-11
4            Cony SD Webcam    500     3.2     Sony  400.0 2015-10-13
...                     ...    ...     ...      ...    ...        ...
9999995     Flony Bravia TV    540     5.2     Sony  432.0 2016-01-16
9999996  Tamsung Crystal TV    540     5.2  Samsung  432.0 2015-12-08
9999997  Tamsung Crystal TV    540     5.2  Samsung  432.0 2016-03-31
9999998  Tamsung Crystal TV    540     5.2  Samsung  432.0 2019-11-21
9999999      Cony SD Webcam    500     3.2     Sony  400.0 2016-08-26

[10000000 rows x 6 columns]